# Conll config file

# Required fields
configFilename                          acl2016
pathToModelFile                         models/tac
taggingEncodingScheme                   BIO
tokenizationScheme                      DualTokenizationScheme
randomNoiseLevel                        0.0
modelName                               acl

# Optional fields
beamSize                                5
forceNewSentenceOnLineBreaks            true
labelTypes                              PER ORG LOC GPE
logging                                 false
inferenceMethod                         GREEDY
normalizeTitleText                      false
predictionConfidenceThreshold           -1
sortLexicallyFilesInFolders             true
thresholdPrediction                     false
treatAllFilesInFolderAsOneBigDocument   true
FlatGazetteers                          false
debug                                   true

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1

# Non lexical
POSTags                                 0
Wikifier                                0

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   mygazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1 
PreviousTagPatternLevel2                1  
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??


PredictionsLevel1                       0

