# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         tmp
taggingEncodingScheme                   BIO
modelName                               tmp

# Optional fields
labelTypes                              PER ORG LOC MISC
#labelsToIgnoreInEvaluation              MISC

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								en
testlang								ug

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   gazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

PredictionsLevel1                       0