# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         tmp
taggingEncodingScheme                   BIO
modelName                               tmp

# Optional fields
labelTypes                              MNT

# Everywhere
PreviousTag1                            0
PreviousTag2                            0
PrevTagsForContext                      0
DumbStems                               0

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								en
testlang								ug

# External resources
GazetteersFeatures                      0
pathToGazetteersLists                   gazetteers

# Lexical Features
Affixes                                 0
Capitalization                          0
WordTypeInformation                     0
Forms                                   0
PreviousTagPatternLevel1                0
PreviousTagPatternLevel2                0
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

PredictionsLevel1                       0

BrownClusterPaths                       0