# Conll config file

# Required fields
configFilename                          self-train
pathToModelFile                         models/edit52
taggingEncodingScheme                   BIO
modelName                               edit52

# Optional fields
labelTypes                              PER ORG LOC GPE
labelsToIgnoreInEvaluation              MISC

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								en
testlang								bn

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   mygazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0
BrownClusterPaths                       0

PredictionsLevel1                       0

minConfidencePredictionsLevel1          0.99
