# Conll config file

# Required fields
configFilename                          tac
pathToModelFile                         models/tac-nom-all-es
taggingEncodingScheme                   BIO
modelName                               tac


# Optional fields
labelTypes                              PER ORG LOC GPE FAC
#labelsToIgnoreInEvaluation             PER-NAM ORG-NAM LOC-NAM GPE-NAM FAC-NAM


# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               0

# Non lexical
POSTags                                 0
Wikifier                                1

# External resources
GazetteersFeatures                      0
pathToGazetteersLists                   mygazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       1
pathsToBrownClusters                    /home/mayhew2/software/brown-cluster-master/UNv1.0.en-es-c100-p1.out/paths /home/mayhew2/software/brown-cluster-master/esdump-c100-p1.out/paths /home/mayhew2/software/brown-cluster-master/esdump-c1000-p1.out/paths
minWordAppThresholdsForBrownClusters    1 1 1
isLowercaseBrownClusters                false false false

PredictionsLevel1                       0

