# Conll config file

# Required fields
configFilename                          tac
pathToModelFile                         models/tac
taggingEncodingScheme                   BIO
modelName                               tac

# Optional fields
labelTypes                              PER ORG LOC GPE

# Non lexical
POSTags                                 0
Wikifier                                0

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   mygazetteers

PredictionsLevel1                       0

