# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         models/uzug
taggingEncodingScheme                   BIO
modelName                               mono

# Optional fields
labelTypes                              PER ORG LOC GPE
labelsToIgnoreInEvaluation              MISC

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               0

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								uz
testlang								tr

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   mygazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     0
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       0
pathsToBrownClusters                    /shared/experiments/ctsai12/workspace/brown-cluster/set0-mono-c200-min3/paths.uly /shared/experiments/ctsai12/workspace/brown-cluster/set0-mono-c500-min5/paths.uly /shared/experiments/ctsai12/workspace/brown-cluster/combine-c1000-min5/paths.uly
minWordAppThresholdsForBrownClusters    0 0 0
isLowercaseBrownClusters                false false false


PredictionsLevel1                       0

