# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         models/default
taggingEncodingScheme                   BIO
modelName                               mono

# Optional fields
labelTypes                              PER ORG LOC GPE
#labelsToIgnoreInEvaluation              MISC

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								uz
testlang								tr

# External resources
GazetteersFeatures                      0
pathToGazetteersLists                   gazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       1
pathsToBrownClusters                    /shared/corpora/corporaWeb/lorelei/evaluation-2018/il10/resources/brown_set0_100/paths /shared/corpora/corporaWeb/lorelei/evaluation-2018/il10/resources/brown_set0_2000/paths /shared/corpora/corporaWeb/lorelei/evaluation-2018/il10/resources/brown_set01E_2000/paths
minWordAppThresholdsForBrownClusters    3 3 3
isLowercaseBrownClusters                false false false

EmbedClusters                           0
pathToEmbedClusters                     /shared/corpora/corporaWeb/lorelei/evaluation-2018/il10/resources/emb100.cluster3000

PredictionsLevel1                       0

