# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         models/trans-am
taggingEncodingScheme                   BILOU
modelName                               mono

# Optional fields
labelTypes                              PER ORG LOC GPE

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								uz
testlang								tr

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   gaz-am

# Lexical Features
Affixes                                 1
Capitalization                          0
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       1
pathsToBrownClusters                    /shared/experiments/ctsai12/workspace/brown-cluster/all.plain-c100-p1.out/paths /shared/experiments/ctsai12/workspace/brown-cluster/all.plain-c200-p1.out/paths /shared/experiments/ctsai12/workspace/brown-cluster/all.plain-c500-p1.out/paths /shared/experiments/ctsai12/workspace/brown-cluster/all.plain-c1000-p1.out/paths /home/mayhew2/software/brown-cluster-master/amdump-c500-p1.out/paths /home/mayhew2/software/brown-cluster-master/amdump-c1000-p1.out/paths
#pathsToBrownClusters                    /home/mayhew2/software/brown-cluster-master/amdump-c100-p1.out/paths
minWordAppThresholdsForBrownClusters    3 3 3 3 3 3
isLowercaseBrownClusters                false false false false false false


PredictionsLevel1                       0

