

# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         models/trans-nl
taggingEncodingScheme                   BIO
modelName                               mono

# Optional fields
labelTypes                              PER ORG LOC MISC


# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								uz
testlang								tr

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   mygazetteers

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       1
pathsToBrownClusters                    /home/mayhew2/software/brown-cluster-master/nldump-c100-p1.out/paths /home/mayhew2/software/brown-cluster-master/nldump-c500-p1.out/paths /home/mayhew2/software/brown-cluster-master/nldump-c1000-p1.out/paths
minWordAppThresholdsForBrownClusters    0 0 0
isLowercaseBrownClusters                false false false


PredictionsLevel1                       0

