# Conll config file

# Required fields
configFilename                          mono
pathToModelFile                         models/trans-om
taggingEncodingScheme                   BILOU
modelName                               mono

# Optional fields
labelTypes                              PER ORG LOC GPE
labelsToIgnoreInEvaluation              MISC

# Everywhere
PreviousTag1                            1
PreviousTag2                            1
PrevTagsForContext                      1
DumbStems                               1

# Non lexical
POSTags                                 0
Wikifier                                0

Embedding								0
trainlang 								uz
testlang								tr

# External resources
GazetteersFeatures                      1
pathToGazetteersLists                   gaz-om

# Lexical Features
Affixes                                 1
Capitalization                          1
WordTypeInformation                     1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
#AggregateContext                        1  # Not used.
#AggregateGazetteerMatches               1  # Not used??

WordEmbeddings                          0

BrownClusterPaths                       1
pathsToBrownClusters                    /shared/corpora/ner/lorelei/om/bc_100/paths /shared/corpora/ner/lorelei/om/bc_500/paths /shared/corpora/ner/lorelei/om/bc_1000/paths 
minWordAppThresholdsForBrownClusters    0 0 0
isLowercaseBrownClusters                false false false


PredictionsLevel1                       0

